---
import CenterContainer from "@components/format/containers/CenterContainer.astro";
import Paragraph from "@components/format/text/Paragraph.astro";
import SectionTitle from "@components/format/text/SectionTitle.astro";
---

<!-- portrait:my-36 landscape: -->
<section class="flex h-screen flex-col items-center justify-center">
  <CenterContainer class="space-y-3">
    <SectionTitle>About me</SectionTitle>
    <Paragraph size="large">
      I was born in France and am now living in the SF Bay Area.
    </Paragraph>
    <Paragraph size="large">
      I'm a fourth year student at UC Berkeley studying Electrical Engineering
      and Computer Science.
    </Paragraph>
    <Paragraph size="large">
      In my spare time, I like learning and tinkering with frameworks, systems,
      and languages—both human and computer.
    </Paragraph>
  </CenterContainer>
</section>
