---
import CenterContainer from "@components/format/containers/CenterContainer.astro";
import Paragraph from "@components/format/text/Paragraph.astro";
import SectionTitle from "@components/format/text/SectionTitle.astro";
---

<!-- portrait:my-36 landscape: -->
<section
  class:list={[
    "flex flex-col items-center justify-center",
    "h-screen landscape:max-h-[960px]",
  ]}
>
  <CenterContainer class="space-y-3 px-4">
    <SectionTitle>About me</SectionTitle>
    <Paragraph size="xl">
      I was born in France and am now living in the San Francisco Bay Area.
    </Paragraph>
    <Paragraph size="xl">
      I'm an engineer on visionOS UI Frameworks at Apple, and a Berkeley EECS
      alum.
    </Paragraph>
    <Paragraph size="xl">
      In my spare time, I like learning and tinkering with frameworks, systems,
      and languages—both human and computer.
    </Paragraph>
  </CenterContainer>
</section>
