{# This is for an article's post, to be rendered wherever #}
{% macro articleGenerator(title, content, footer, url) %}
<article class="content article">
    {% if title %}
    <header class="container">
        {% if url %}
        <h1 class="title"><a href="{{ url }}">{{ title }}</a></h1>
        {% else %}
        <h1 class="title">{{ title }}</h1>
        {% endif %}
    </header>
    {% endif %}
    {% if content %}
    <section class="container">
        {% block articleContent %}
            {{ content | safe }}
        {% endblock %}
    </section>
    {% endif %}
    {% if footer %}
    <footer class="container">
        {% block articleFooter %}
            {{ footer | safe }}
        {% endblock %}
    </footer>
    {% endif %}
</article>
{% endmacro %}