{# This is for an article's singular page by itself #}
{% extends "default.njk" %}
{% set type = 'article' %}
{% set navTitle = blog.navTitle %}
{% set navUrl = '/blog' %}
{% set headTitle = title + ' | ' + blog.headTitle %}
{% block og %}
<meta property="og:site_name" content="{{ navTitle }}">
<meta property="og:type" content="article">
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://unpkg.com/prism-theme-one-dark/prism-onedark.css" />
<link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block main %}
<div class="content">
{% from "article.njk" import articleGenerator %}
{% set footer %}
    <div class="center go-back"><a href="/blog">See more posts</a></div>
{% endset %}
{{ articleGenerator(title, date | dateFormat, content, footer) }}
</div>
{% endblock %}