{# This is for an article's singular page by itself #}
{% extends "default.njk" %}
{% set type = 'article' %}
{% set navTitle = "Miguel's Blog" %}
{% set headTitle = title + ' | Miguel Tenant de La Tour' %}
{% block og %}
<meta property="og:site_name" content="Miguel Tenant de La Tour's Blog">
<meta property="og:type" content="article">
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://unpkg.com/prism-theme-one-dark@1.0.0/prism-onedark.css" />
<link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block main %}
{% from "article.njk" import articleGenerator %}
{% set footer %}
    <div class="center go-back"><a href="/blog">Back to blog</a></div>
{% endset %}
{{ articleGenerator(title, content, footer) }}
{% endblock %}