<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title>{{ headTitle if headTitle else defaults.headTitle }}</title>
    <meta name="description" content="{{description}}" />

    <meta property="og:title" content="{{headTitle}}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="{{description}}" />
    {# Add OpenGraph metadata #}
    {% block og %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700">
    <link rel="stylesheet" href="/css/common.css" />
    {# Add stylesheet #}
    {% block style %}{% endblock %}
  </head>

  <body>
    <header class="container full">
      <nav class="navbar {{ 'index' if type === 'index' }}">
        {% if type !== 'index' %}
        <div class="nav-title important">
          {{ navTitle if navTitle else defaults.navTitle }}
        </div>
        {% endif %}
        <div class="nav-links">
          <a href="/">Home</a>
          <a class="{{ 'hidden-mobile' if type !== 'index' }}" href="{{ '#work' if type === 'index' else '/#work' }}">Work</a>
          <a href="/blog">Blog</a>
        </div>
      </nav>
    </header>
    <main class="{{ 'index' if type === 'index' }}">
      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>
    <script defer src="/js/helper.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>