{# This is for an post's post, to be rendered wherever #}
{% macro postGenerator(title, sub, content, footer, url) %}
<article class="post">
    {% if (title or sub) %}
    <header class="container">
        {% if title %}
            {% if url %}
            <h1 class="title"><a href="{{ url }}">{{ title }}</a></h1>
            {% else %}
            <h1 class="title">{{ title }}</h1>
            {% endif %}
        {% endif %} 
        {% if sub %}
            <p class="sub">{{ sub }}</p>
        {% endif %}
    </header>
    {% endif %}
    {% if content %}
    <section class="container">
        {% block postContent %}
            {{ content | safe }}
        {% endblock %}
    </section>
    {% endif %}
    {% if footer %}
    <footer class="container">
        {% block postFooter %}
            {{ footer | safe }}
        {% endblock %}
    </footer>
    {% endif %}
</article>
{% endmacro %}