{# This is for a post's singular page by itself #}
{% extends "default.njk" %}
{% set type = 'post' %}
{% set navTitle = blog.navTitle %}
{% set navUrl = '/blog' %}
{% set headTitle = title + ' | ' + blog.headTitle %}
{% block og %}
<meta property="og:site_name" content="{{ navTitle }}">
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ date | isoDateFormat }}">
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/prism-onedark.css" />
<link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block main %}
<div class="content">
{% from "post.njk" import postGenerator %}
{% set footer %}
    <div class="center go-back"><a href="/blog">See more posts</a></div>
{% endset %}
{{ postGenerator(title, (date | dateFormat) + " • " + (content | readingTime), content, footer) }}
</div>
{% endblock %}