{% extends "default.njk" %}
{% set type = 'post' %}
{% block og %}
    <meta property="og:site_name" content="Miguel Tenant de La Tour's Blog">
    <meta property="og:type" content="article">
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block main %} 
    <section class="content full">
        <h1 class="title">{{ title }}</h1>
        {{ content | safe }}
    </section>
{% endblock %}