---
import ToArrow from "@components/ToArrow.astro";
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;

const { class: className, ...props } = Astro.props;
---

<a class:list={["group", className]} {...props}>
  <slot />
  <ToArrow
    class="inline-block group-hover:translate-x-1 transition-transform"
  />
</a>
