{% extends "default.njk" %}
{% set type = 'blog' %}
{% set navTitle = blog.navTitle %}
{% set headTitle = blog.headTitle %}
{% block og %}
<meta property="og:site_name" content="{{ navTitle }}">
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://unpkg.com/prism-theme-one-dark@1.0.0/prism-onedark.css" />
<link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block main %}
<section class="container" id="blog-home">
    <div class="content">
        {%- for article in collections.article -%}
            {% set content %}
                <p class="description">{{ article.data.description }}<p>
            {% endset %}
            {% from "article.njk" import articleGenerator %}
            {{ articleGenerator(article.data.title, article.data.date | dateFormat, content, undefined, article.url) }}
        {%- endfor -%}
    </div>
</section>
{% endblock %}