{% extends "default.njk" %}
{% set type = 'blog' %}
{% set navTitle = blog.navTitle %}
{% set navUrl = './' %}
{% set headTitle = blog.headTitle %}
{% set description = blog.description %}
{% block og %}
<meta property="og:site_name" content="{{ navTitle }}">
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/prism-onedark.css" />
<link rel="stylesheet" href="/css/blog.css" />
{% endblock %}
{% block main %}
<section class="container" id="blog-home">
    <div class="content">
        {%- for post in collections.post | reverse -%}
            {%- if not post.data.hidden %}
                {% set content %}
                    <p class="description">{{ post.data.description }}<p>
                {% endset %}
                {% from "post.njk" import postGenerator %}
                {{ postGenerator(post.data.title, (post.data.date  | dateFormat) + " • " + (post.templateContent | readingTime), content, undefined, post.url) }}
            {%- endif %}
        {%- endfor -%}
    </div>
</section>
{% endblock %}