/** Stylesheet for blog pages **/

.go-back {
    padding-top: 1.5rem;
}

.article img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.article:not(:last-of-type) {
    padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .article:not(:last-of-type) {
        padding-bottom: 1rem;
    }
}