---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

import Html from "@layouts/Html.astro";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Hero from "@components/index/Hero.astro";
---

<Html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Hero />
    </main>
  </body>
</Html>
