---
export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...props } = Astro.props;
---

<div
  class:list={[className, "mx-auto max-w-4xl px-2 sm:px-6 lg:px-8"]}
  {...props}
>
  <slot />
</div>
