/** Stylesheet for blog pages **/

/* Navbar */
@media only screen and (max-width: 768px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }
}

/* Article */
.go-back {
  padding-top: 1.5rem;
}

.article {
  --font-title: 1.75rem;
  --font-text: 1.15rem;
  --font-code: 1rem;
}

.article img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.article .title {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.article .sub {
  font-size: var(--font-code);
  margin: 0;
}

.article .description {
    margin: 0.75rem 0;
}

.article:not(:last-of-type) {
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .article:not(:last-of-type) {
    padding-bottom: 1rem;
  }
}

pre[class*="language-"] {
  font-size: var(--font-code);
  background-color: var(--color-background-code);
  padding: 0.75rem;
}
