/** Common Stylesheet for all pages **/

/* Fix for scrollbar moving content (https://stackoverflow.com/questions/6357870/scrollbar-on-browser-and-div-margin-0-auto-jumping) */
html {
  width: 100vw;
  overflow-x: hidden;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

/* Generic */

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 50rem;
}

.full {
  width: 100%;
  text-align: center;
}

.big-title {
  font-size: 2.5em;
  text-align: center;
}

.title {
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 374px) {
  .title {
    font-size: 1.25em;
  }
}

/* Navbar */
.navbar {
  margin-top: 3em;
}

@media only screen and (max-width: 768px) {
  .navbar {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 374px) {
  .navbar {
    margin-top: 1.5em;
  }
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.nav-links a {
  font-size: 1em;
}

.nav-links a:not(:first-child) {
  margin-left: 0.5em;
}

.nav-links a:not(:last-child) {
  margin-right: 0.5em;
}

/* Main */
main {
  margin-top: 5em;
}