/** Common Stylesheet for all pages **/

/* Fix for scrollbar moving content (https://stackoverflow.com/questions/6357870/scrollbar-on-browser-and-div-margin-0-auto-jumping) */
html {
  width: 100vw;
  overflow-x: hidden;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

p code {
  background: #f5f2f0;
}

/* Generic */

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 50rem;
}

.content {
  font-size: 1.15rem;
}

@media only screen and (max-width: 768px) {
  .content {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.full {
  width: 100%;
  text-align: center;
}

.big-title {
  font-size: 2.5em;
  text-align: center;
}

.title {
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 374px) {
  .title {
    font-size: 1.25em;
  }
}

/* Navbar */
.navbar {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

/* Index page does not show the name */
.navbar.index {
  justify-content: flex-end;
}

.navbar > * {
  margin: 2em 0; 
}

.navbar > *:not(:first-child) {
  margin-left: 2em;
}

.navbar > *:not(:last-child) {
  margin-right: 2em;
}


@media only screen and (max-width: 768px) {
  .navbar {
    /* Top: 1.5, left/right: 1, bottom: 0 */
    margin: 1.5em 1em 0;
  }

  .navbar.index  {
    justify-content: center;
  }

  .navbar > * {
    margin: 1.5em 0;
  }
  .navbar > *:not(:first-child) {
    margin-left: 1.5em;
  }
  .navbar > *:not(:last-child) {
    margin-right: 1.5em;
  }
}

@media only screen and (max-width: 374px) {
  .navbar {
    margin-top: 1em;
  }

  .navbar > * {
    margin: 1em 0;
  }
  .navbar > *:not(:first-child) {
    margin-left: 0.25em;
  }
  .navbar > *:not(:last-child) {
    margin-right: 0.25em;
  }
}

.nav-links a:not(:first-child) {
  margin-left: 0.5em;
}

.nav-links a:not(:last-child) {
  margin-right: 0.5em;
}

@media only screen and (max-width: 768px) {
  .nav-links a:not(:first-child) {
    margin-left: 0.35em;
  }

  .nav-links a:not(:last-child) {
    margin-right: 0.35em;
  }
}

@media only screen and (max-width: 374px) {
  .nav-links a:not(:first-child) {
    margin-left: 0.15em;
  }

  .nav-links a:not(:last-child) {
    margin-right: 0.15em;
  }
}

/* Main */
main {
  margin-top: 3em;
}

main.index {
  margin-top: 5em;
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 2em;
  }
  
  main.index {
    margin-top: 3em;
  }
}

@media only screen and (max-width: 374px) {
  main {
    margin-top: 1em;
  }

  main.index {
    margin-top: 2em;
  }
}