/** Stylesheet for index.html page **/

/* Profile */

#profile {
  margin-bottom: 1rem;
}

#profile .picture {
  max-width: 30%;
  min-width: 8.5rem;
  height: auto;

  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

#profile .title {
  margin-bottom: 0;
}

#profile .subtitle {
  text-decoration: none;
}

/* Summary */

#summary {
  font-size: 1.5em;
  color: #555;
  max-width: 20.5em;
}

#summary>* {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

@media only screen and (max-width: 768px) {
  #summary {
    font-size: 1.15em;
    max-width: 18em;
  }
}

@media only screen and (max-width: 374px) {
  #summary {
    font-size: 1em;
    max-width: 15em;
  }
}

/* Contact */

#contact {
  margin-top: 2em;
}

#contact * {
  margin-left: 0.15em;
  margin-right: 0.15em;
}


@media only screen and (max-width: 768px) {
  #contact * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
  }
}


/* Work */

#work {
  margin-top: 9em;
  margin-bottom: 5em;
  padding-top: 1em;

  max-width: 75em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.work-title {
  font-size: 1.5em;
}

.project {
  margin-top: 2.5em;
  margin-left: 1em;
  margin-right: 1em;

  flex: calc(50% - 2em);
  max-width: calc(50% - 2em);
}

.project-title {
  margin-bottom: 0.75em;
}

.project-description {
  margin: 0 auto;
  margin-top: 0.25em;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1em;
}

.project-image-container {
  width: 100%;
  margin: 0 auto;
}

.project-image.top {
  object-position: top;
}

.project-image:hover,
.project-image:active,
.project-image:focus {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1024px) {
  .project-description {
    width: 90%;
  }
  .project-image-container {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  #work {
    margin-top: 5.5em;
  }

  .work-title {
    font-size: 1.25em;
  }

  .project-image-container {
    width: 85%;
  }

  .project-description {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .work-title {
    margin: 0;
  }
  /* Only 1 project per row on phones and small tablets */
  .project {
    margin-top: 1.5em;
    flex: auto;
    max-width: none;
  }
}

@media only screen and (max-width: 374px) {
  .work-title {
    font-size: 1.15em;
  }

  .project-image-container {
    height: 10em;
  }
}

#thank-you {
  padding-top: 1em;
}