/** Stylesheet for index.html page **/

/* Profile */

#profile {
  margin-bottom: 2rem;
}

#profile .picture {
  max-width: 30%;
  min-width: 8.5rem;
  height: auto;

  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

#profile .title {
  margin-bottom: 0;
}

#profile .subtitle {
  text-decoration: none;
}

/* Summary */

#summary {
  font-size: var(--font-text);
  max-width: 25rem;
}

#summary>* {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: var(--color-text-extra);
}

@media only screen and (max-width: 768px) {
  #summary {
    max-width: 21rem;
  }
}

@media only screen and (max-width: 374px) {
  #summary {
    max-width: 18rem;
  }
}

/* Contact */

#contact {
  margin-top: 2rem;
}

#contact * {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}


@media only screen and (max-width: 768px) {
  #contact * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
  }
}


/* Work */

#work {
  max-width: 75rem;
  margin: 0 auto;

  margin-top: 7.5rem;
  margin-bottom: 5rem;
  padding-top: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.work-title {
  font-size: var(--font-subtitle);
  font-weight: 500;
}

.project {
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

  flex: calc(50% - 2rem);
  max-width: calc(50% - 2rem);
}

.project-title {
  margin-bottom: 0.75rem;
  font-size: var(--font-text);
  font-weight: 500;
}

.project-description {
  margin: 0 auto;
  margin-top: 0.25rem;
  font-weight: 400;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.project-image-container {
  width: 100%;
  margin: 0 auto;
}

.project-image.top {
  object-position: top;
}

.project-image:hover,
.project-image:active,
.project-image:focus {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1024px) {
  .project-description {
    width: 90%;
  }
  .project-image-container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  #work {
    margin-top: 5.5rem;
  }

  .project-image-container {
    width: 85%;
  }

  .project-description {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .work-title {
    margin: 0;
  }
  /* Only 1 project per row on phones and small tablets */
  .project {
    margin-top: 1.5rem;
    flex: auto;
    max-width: none;
  }
}

@media only screen and (max-width: 374px) {
  .project-image-container {
    height: 10rem;
  }
}

#thank-you {
  padding-top: 1rem;
}