---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"h2">;

const { class: className, ...props } = Astro.props;
---

<h2
  class:list={[
    "text-xl font-semibold text-neutral-800 dark:text-neutral-200 sm:text-2xl lg:text-3xl",
    className,
  ]}
  {...props}
>
  <slot />
</h2>
