{% extends "default.njk" %}
{% block style %}
<link rel="stylesheet" href="/css/index.css" />
{% endblock %}
{% block main %}
<section class="container full center" id="profile">
  <picture>
    <source type="image/webp" srcset="images/profile-pic-small.webp 0.5x" media="(max-width: 768px)">
    <source type="image/webp" srcset="images/profile-pic.webp 1x" media="(min-width: 769px)">
    <source type="image/png" srcset="images/profile-pic-small.png 0.5x" media="(max-width: 768px)">
    <source type="image/png" srcset="images/profile-pic.png 1x" media="(min-width: 769px)">
    <img class="picture" src="images/profile-pic.png" alt="" />
  </picture>
  <h1 class="title center bold">{{ navTitle }}</h1>
  <a class="subtitle center" href="mailto:migueltenant@gmail.com">migueltenant@gmail.com</a>
</section>
<section class="container full center" id="summary">
  <p>{{description}}</p>
  <div id="contact">
    {% for contact in contacts %}
      <a href="{{ contact.url }}">{{ contact.title }}</a>
    {% endfor %}
  </div>
</section>
<section id="work">
  <div class="container full center">
    <h2 class="work-title">Some of my work...</h2>
  </div>
  {% for project in projects %}
  <div class="full center project">
    <h3 class="project-title">
      <a href="{{ project.url }}">{{ project.title }}</a>
      <p class="project-description">{{ project.description }}</p>
    </h3>
    <div class="project-image-container" aria-hidden="true" role="presentation">
      <a href="{{ project.url }}">
        <picture>
          <source type="image/webp" srcset="images/{{ project.imageName }}-small.webp 1x" media="(max-width: 768px)">
          <source type="image/webp" srcset="images/{{ project.imageName }}.webp 2x" media="(min-width: 768px)">
          <source type="image/png" srcset="images/{{ project.imageName }}-small.png 1x" media="(max-width: 768px)">
          <source type="image/png" srcset="images/{{ project.imageName }}.png 2x" media="(min-width: 768px)">
          <img class="project-image" src="images/{{ project.imageName }}.png" alt="" />
        </picture>
      </a>
    </div>
  </div>
  {% endfor %}
</section>
<section id="thank-you">
  <div class="container full center">
    <p>Thank you for checking out my projects!</p>
    <p>Contact me at <a href="mailto:migueltenant@gmail.com">migueltenant@gmail.com</a>.</p>
  </div>
</section>
{% endblock %}