<!-- portrait:my-36 landscape: -->
<section class="flex h-screen flex-col items-center justify-center">
  <div class="max-w-sm space-y-3 px-4 sm:max-w-lg lg:max-w-xl">
    <h2 class="font-medium text-neutral-500 dark:text-neutral-400">About me</h2>
    <p
      class="text-xl font-light text-neutral-800 dark:text-neutral-200 sm:text-2xl md:text-2xl lg:text-3xl"
    >
      Born in France, I am now living in the SF Bay Area.
    </p>
    <p
      class="text-xl font-light text-neutral-800 dark:text-neutral-200 sm:text-2xl md:text-2xl lg:text-3xl"
    >
      I will be graduating from UC Berkeley in 2023 to join a fruit company as a
      software engineer.
    </p>
    <p
      class="text-xl font-light text-neutral-800 dark:text-neutral-200 sm:text-2xl md:text-2xl lg:text-3xl"
    >
      In my spare time, I like learning and tinkering with frameworks, systems,
      and languages—both human and computer.
    </p>
  </div>
</section>
