---
import { format } from "date-fns";

import BlogLayout from "./Blog.astro";
import type { Props as BlogProps } from "./Blog.astro";
import PostHeading from "@components/pages/blog/PostHeading.astro";
import Paragraph from "@components/format/text/Paragraph.astro";
import Link from "@components/format/links/Link.astro";
import { BLOG_PATH } from "src/config";

export type Props = BlogProps & {
  frontmatter: {
    title: string;
    description: string;
    date: Date;
    tags?: string[];
  };
};

// TODO: Add an embed image
const { frontmatter, ...props } = Astro.props;
const { title, description, date, tags } = frontmatter;

const formatDate = (date: Date): string => {
  return format(date, "MMMM d, y");
};
---

<BlogLayout {...props}>
  <div>
    <PostHeading title={title} date={date} />
  </div>
  <slot />
  <Paragraph size="lg" class="mt-12 text-center">
    <Link href={BLOG_PATH}>See more posts</Link>
  </Paragraph>
</BlogLayout>
